/* Launchpad CSS */

body {
  background-image: url("/Users/james/ga_seir/projects/marvel-ecommerce-app/client/src/assets/img/marvel-background.jpg");
  background: auto;
  background-size: cover;
  margin: 0;
  padding-top: 60px;
}

.launchpad {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin-top: 250px;
  margin-left: 550px;
  padding: 50px;
  position: absolute;
  opacity: 95%;
  border: 5px red outset;
  border-radius: 100px;
  background-image: linear-gradient(
    -45deg, 
    rgb(210, 116, 116) 0%, 
    rgb(255, 255, 255) 25%, 
    rgb(221, 182, 182) 51%, 
    rgb(246, 246, 246) 100%
  );
}

.launchpad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title {
  font-size: 45px;
  color: red;
  margin-top: -40px;
  margin-bottom: -15px;
}

.launch-button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.launch-button:hover {
  opacity: 1;
}

.launch-button:active {
  background-color: darkred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Navbar CSS */

.navbar {
  background-color: lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-flex;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-links {
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: static;
}

.navbar-link {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.navbar-link:hover {
  background-color: darkgrey;
  opacity: .7;
  color: white;
}

.marvel-logo {
  width: 8%;
  padding: 5px;
  padding-left: 40px;
  padding-top: 10px;
}

.cart {
  width: 5%;
}

.search-icon {
  width: 100%;
}

.search-button {
  height: 5%;
  width: 2%;
}

.search-bar-input {
  margin-bottom: 2px;
  margin-left: 5px;
}

/* Register CSS */

.register {
  text-align: center;
  margin: auto;
  width: 50%;
  opacity: 95%;
  border: 5px red outset;
  border-radius: 100px;
  background-image: linear-gradient(
    -45deg, 
    rgb(210, 116, 116) 0%, 
    rgb(255, 255, 255) 25%, 
    rgb(221, 182, 182) 51%, 
    rgb(246, 246, 246) 100%
  );
}

.register:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.register-title {
  font-size: x-large;
  color: red;
}

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  color: red;
  font-size: xx-large;
  font-weight: 600;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px red outset;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}

.register-button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.register-button:hover {
  opacity: 1;
}

.register-button:active {
  background-color: darkred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Cart CSS */

.checkout {
  margin: 30px;
  padding: 30px;
  background-color: grey;
  opacity: 95%;
  border: 5px red outset;
  background-image: linear-gradient(
    -45deg, 
    rgb(210, 116, 116) 0%, 
    rgb(255, 255, 255) 25%, 
    rgb(221, 182, 182) 51%, 
    rgb(246, 246, 246) 100%
  );
}

.checkout-buttons {
  display: flex;
  justify-content: space-between;
}

.bag-wishlist {
  display: flex;
  justify-content: space-around;
}

.summary, h2 {
  width: 500%;
}

/* Home Page CSS */

.home-page {
  background-color: whitesmoke;
  width: 90%;
  opacity: .95;
}

.home-page2 {
  background-color: whitesmoke;
  width: 90%;
  opacity: .95;

  width: 90%;
  margin-top: 50px;
}